<!DOCTYPE html>
<html>
<style>
</style>
<body>
<h1 style="text-align: center; font-family: 'Georgia'">Welcome to Chatify!</h1>
<br>
<% if logged_in? %>

  <h2 style="text-align: center; font-family: 'Century Gothic'"> This is a chat app that allows you to chat with other app users using the chat rooms.</h2>
  <h2 style="text-align: center; font-family: 'Century Gothic'"> You can navigate to these chat rooms using the navigation bar above. </h2>
  <div align="right"><%= image_tag "chatboxes.jpg" %></div>


<% else %>
  <p><%= link_to 'Login', login_path %></p>
  <p><%= link_to 'Signup for an account', signup_path %></p>
<% end %>


</body>
</html>