
<h1 style="text-align: center; font-family: 'Georgia'">Direct Message</h1>
<h3 style="text-align: center; font-family: 'Century Gothic'">If you would like to chat with someone privately you can use direct messages!</h3>
<body>
<table align="center">
  <tr>
    <th>Member List:</th>

  </tr>
  <tbody >
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.fullname, user %></td>
      <td><%= link_to "Send a Message", new_private_message_path(:private_message =>{:recipient_id => user.id})%></td>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div align="right"><%= image_tag "direct_message.svg" %></div>
</body>



