
<h1>Members</h1>
<body>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.fullname, user %></td>
      <td><%= link_to "Send a Message", new_message_path(:message =>{:recipient_id => user.id})%></td>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</body>



