
<head>
  <style>
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
      }

      li {
          float: left;
          border-right:1px solid #bbb;
      }

      li:last-child {
          border-right: none;
      }

      li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }

      li a:hover:not(.active) {
          background-color: #111;
      }

      .active {
          background-color: #04AA6D;
      }
  </style>
</head>

<ul>
  <li><a class="navbar-brand" href="/">Chatify</a></li>
  <li><a href="rooms">Rooms</a></li>
  <li><a href="users">Users</a></li>
  <li><a href="logout">Logout</a></li>
  <% if logged_in? %>
    <a style="img-size:24px;"><img class="avatar" src="<%= gravatar_url(current_user) %>"> </a>
      <a style="color: white; ">             <%= current_user.email %>
      </a>
  <% end %>
</ul>


</nav>