<!DOCTYPE html>
<html lang="en">
<head>

  <style>
      body {
          margin: 0;
      }
      ul.b {
          list-style-type: square;
      }

      .column {
          float: left;
          padding: 0px;
      }
      .column.side {
          width: 10%;
      }



  </style>
</head>



<body >

<div class ="column side">
  <%= link_to "Create a new room", new_room_path %>
  <ul>
<% if @rooms.present? %>
      <li style="color: #04AA6D";><%= "Available Rooms:" %></li>
    <% @rooms.each do |room| %>

     <li> <%= link_to room.name, room_path(room) %></li>

    <% end %>
    </ul>
  </div>
<% else %>
  <div style="color: white; text-align: center"; >
     No rooms created yet!
  </div>
<% end %>
</body>