<!DOCTYPE html>
<html lang="en">
<head>

  <style>
      body {
          margin: 0;
      }
      ul.b {
          list-style-type: square;
          background-color: teal;
      }

      .column {
          float: left;
          padding: 0px;
          text-align: center;
      }
      .column.side {
          width: 10%;

      }



  </style>
</head>



<body >

<div class ="column side",>
  <b style="font-size: large;font-family: 'Century Gothic'"><%= link_to "CREATE A NEW ROOM", new_room_path %></b>
<p> </p>
  <ul class="b">
<% if @rooms.present? %>
      <li style="color: white";><%= "Available Rooms:" %></li>
    <% @rooms.each do |room| %>

     <li> <%= link_to room.name, room_path(room) %></li>

    <% end %>
    </ul>
  </div>
<% else %>
  <div style="color: white; text-align: center"; >
     No rooms created yet!
  </div>
<% end %>
</body>