<html>
<head>
  <style>
      body {
          background: powderblue ;
      }
  </style>
</head>
<body>
      <h1>
        Let's Chat!
      </h1>
<div>
  <%= render partial: 'rooms' %>
</div>
      <h3>
        Let's talk!
        You can create or join a room from the sidebar.
      </h3>
</body>