<html>
<head>
  <style>
      body {
          background: powderblue ;
      }
  </style>
</head>
<body>



  <h1 style="text-align: center; font-family: 'Georgia'"> Let's Chat!</h1>

  <h2 style="text-align: center; font-family: 'Century Gothic'">
  You can create or join a room from the sidebar.
</h2>
  <div style="padding-left: 20px">
    <%= render partial: 'rooms' %>
  </div>
      <div align="right"><%= image_tag "network.svg" %></div>
</body>
</html>